*{
  margin: 0;
  padding: 0;
  
}

.pdf-container{
  width: 60%;
  float: left;
  padding: 20px;
  height: 800px;
  background-color: #e4e4e4;
  overflow-y: auto;
}

.error-msg{
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

